@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.HomePage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem;
}

.new-title,
.new-collection {
  text-align: center;
  background-color: var(--green);
  text-decoration: none;
  margin: 0 auto;
  display: block;
  padding: 0.8rem;
  width: 200px;
  // border: 2px solid var(--main);
}

.new-title:hover,
.new-collection:hover {
  background-color: var(--buttonhov);
}

.new-title.link,
.new-collection.link,
.new-title.link:active,
.new-collection.link:active,
.new-title.link:visited,
.new-collection.link:visited {
  color: var(--main);
}

.new-title.link:hover, .new-collection.link:hover {
  color: white;
}

@include tabletPortrait {
  .new-links {
    flex-direction: row;
    align-items: start;
    justify-content: center;
    margin-bottom: 1rem;
  }

  .new-title,
  .new-collection {
    margin: 0 1.5rem;
  }
}

.new-links a {
  transition: color 0.1s ease;
}

.new-links a:hover {
  color: white;
}

.new-title {
  margin-bottom: 1rem;
}

.storecount {
  margin: 1rem 0;
  padding: 0 2rem;
}

@include mobileLandscape {
  .storecount {
    margin: 0 0 1rem;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  font-family: 'Roboto Mono';
}

.vcr {
  display: block;
  width: 150px;
  margin: -3.5rem auto -2rem;
  padding: 0;
  text-align: center;
}

@include mobileLandscape {
  .vcr {
    width: 200px;
    margin: -4rem auto -1.5rem;
  }
}

.vcr:hover {
  cursor: pointer;
}
