@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.HomePage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto 2rem;
}

.new-title,
.new-collection {
  text-align: center;
  background-color: var(--green);
  text-decoration: none;
  margin: 0 auto;
  display: block;
  padding: .8rem;
  width: 200px;
}

.new-title:hover,
.new-collection:hover {
  background-color: var(--buttonhov);
}

.new-links a {
  transition: color .1s ease;
}

.new-links a:hover {
color: white;
}

.new-title {
  margin-bottom: 1rem;
}

.storecount {
  margin-bottom: 1rem;
}

.all-films-link {
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  color: var(--main);
}

.all-films-link-p:hover,
.all-films-link-p:active {
  color: var(--link);
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

p {
  font-family: 'Roboto Mono'
}
