@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

label {
  display: block;
  margin: 0.5rem auto;
  font-weight: 500;
}

input {
  width: 60%;
  margin: 0 auto 1rem;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  margin: 0 auto;
  width: 60%;
  height: 50px;
  margin-bottom: 2rem;
}

#collections {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
  border: none;
  outline: none;
}

input[type='text'],
input[type='url'],
select {
  font-size: 0.9rem;
}

.format-option {
  font-family: monospace;
}

#film_format {
  margin: 0 auto;
  width: 100px;
  margin-bottom: 1rem;
}

.sellinginput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.sellingcheckbox {
  margin: 0.5rem 0.5rem 0;
  display: block;
  width: 20px;
  height: 20px;
}

.sellinglabel {
  display: inline-block;
  margin: 0;
}

.homelink {
  text-decoration: none;
  margin: 1rem;
  color: var(--main);
}

.homelinkp {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.homelinkp:hover {
  color: blue;
}

.submit-button {
  font-size: 0.8rem;
}

.submit-button:hover {
  color: var(--buttonhov);
  background-color: var(--green);
  font-weight: 500;
}
