@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.film-link {
  text-decoration: none;
  list-style-type: none;
  color: var(--main);
}

.FilmLink {
  margin: 1rem auto;
}

.FilmLink:hover {
  color: blue;
}
