@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.CollectionView {
  margin: 1rem;
  padding: 1rem;
}

h2 {
  margin-bottom: 1rem;
}

.film-list {
  padding: 1rem;
}

.filmnumber {
  margin-bottom: 1rem;
}

.collection-notes {
  margin-bottom: 1rem;
  font-style: italic;
}

.collection-delete-button {
  border: none;
  transition: color 0.5s;
  padding: 0;
  margin: 0;
  width: 250px;
  margin: 0 auto 0.5rem;
  font-size: 0.8rem;
}

.collection-delete-button:hover {
  color: red;
}

.new-title.link.add-view {
  margin: 2rem auto;
}

.new-title.link.add-view:hover {
  color: white;
}
