.CollectionView {
  margin: 1rem;
  padding: 1rem;
}

.film-list {
  padding: 1rem;
}

.filmnumber {
  margin-bottom: 1rem;
}

.collection-notes {
  margin-bottom: 1rem;
  font-style: italic;
}

h2 {
  margin-bottom: 1rem;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}