@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: Arial;
  font-size: 16px;
  padding: 1rem;
  color: var(--main);
}

button {
  margin: 0 auto 1rem;
}

.box {
  border: 2px solid var(--main);
  width: 80%;
  margin: 0 auto 1rem;
  padding: 0.5rem;
}

@include tabletPortrait {
  .box {
    width: 65%;
  }
}

@include tabletLandscape {
  .box {
    width: 50%;
  }
}

p,
label,
select,
button,
option {
  font-family: 'Roboto Mono';
  color: var(--main);
}

p, a {
  transition: color .2s;
}

button:hover {
  cursor: pointer;
}

.back-button {
  text-decoration: none;
  margin: 1rem;
  color: var(--main);
  
}

.back-button-p {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3rem;
}

.back-button-p:hover {
  color: blue;
}