@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: Arial;
  padding: .5rem;
  color: var(--main);
}

@include mobilePortrait {
  main {
    padding: 1rem;
  }
}

p { 
  font-size: 14px;
}

@include mobilePortrait {
  p {
    font-size: 16px;
  }
}

button {
  margin: 0 auto 1rem;
}

.box {
  border: 2px solid var(--main);
  width: 80%;
  margin: 0 auto 1rem;
  padding: 0.5rem;
  position: relative;
}

@include tabletPortrait {
  .box {
    width: 65%;
  }
}

@include tabletLandscape {
  .box {
    width: 50%;
  }
}

p,
label,
select,
button,
option {
  font-family: 'Roboto Mono';
  color: var(--main);
}

p, a {
  transition: color .2s;
}

button:hover {
  cursor: pointer;
}

.back-button {
  text-decoration: none;
  margin: 1rem;
  color: var(--main);
}

.back-button-p {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3rem;
  max-width: 100px;
}

.back-button:hover {
  cursor: default;
}

.back-button-p:hover {
  color: blue;
  font-weight: 500;
  cursor: pointer;
}

.submit-button {
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--green);
  border: 2px solid var(--main);
}

.submit-button:hover {
  background-color: var(--buttonhov);
  font-weight: 500;
  color: white;
}

// .vcrload {
//     background-image: url('https://media3.giphy.com/media/hiGqhYaAzXOIU/source.gif');
//     background-size: cover;
//     height: 100vh;
//     padding:0;
//     margin:0;
// }
