* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  font-family: Arial;
  font-size: 16px;
  padding: 1rem;
}

input {
  display: block;
  margin: 0 auto .5rem;
}

label {
  text-align: center;
  margin-bottom: .5rem;
}

button {
  margin: 0 auto 1rem;
  max-width: 100px;
}

.box {
  border: 2px solid black;
  width: 60%;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}
