@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.FilmDetail p {
  margin: 0.5rem auto;
  text-align: left;
}

.label {
  font-weight: 500;
}

.trailer-link {
  color: var(--main);
}

.trailer-link:hover {
  color: blue;
}

.center-delete {
  display: flex;
  justify-content: center;
}

.film-delete-button {
  border: none;
  transition: color 0.5s;
  padding: 1rem 0 0;
  width: 250px;
  margin: 0 auto 0.5rem;
  font-size: 0.8rem;
  background-color: white;
}

.film-delete-button:hover {
  color: red;
  font-weight: 500;
}
