@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.FilmDetail p {
  margin: .5rem auto;
  text-align: left;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: .2s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}