@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700&display=swap');
@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.Header {
  padding: 2rem;
  width: 80%;
  margin: 0 auto;
  position: relative;
  // display: flex;
  // justify-content: center;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-family: 'Fredoka One', Lato, monospace;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--main);
  margin: 2rem 0 1rem;
  transition: color 0.5s ease;
}

h1:hover {
  color: var(--green);
}

@include mobileLandscape {
  h1 {
    font-size: 4rem;
  }
}

.homelink {
  text-decoration: none;
}

.all-films-link {
  margin: 0 auto 2rem;
  text-align: center;
  text-decoration: none;
  color: var(--main);
}

.all-films-link-p:hover,
.all-films-link-p:active {
  color: var(--link);
  font-weight: 500;
}

.log-button,
.about-link {
  display: inline-block;
  text-decoration: none;
  color: var(--main);
  position: relative;
  margin: 0 0.5rem;
  font-size: .9rem;
}

.log-button:hover,
.about-link:hover,
.log-button:active,
.about-link:active {
  font-weight: 500;
  color: blue;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 0;
  margin-bottom: -2rem;
  margin: 0 auto;
}

@include tabletPortrait {
  .Header {
    width: 65%;
  }
}

@include tabletLandscape {
  .box {
    width: 50%;
  }
}
