@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

.Header {
  padding: 2rem;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Fredoka One', Lato;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: black;
  margin-bottom: 1rem;
}

.homelink {
  text-decoration: none;
}
