@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.Header {
  padding: 2rem;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: 'Fredoka One', Lato, monospace;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  color: var(--main);
  margin-bottom: 1rem;
  transition: color .5s ease; 
}

h1:hover {
  color: var(--green);
}

.homelink {
  text-decoration: none;
}
