@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.checkbox-label {
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin: 0 auto 0.1rem;
  padding: 0 0.5em 0 0;
  // text-indent: -1rem;
}

.checkbox-input {
  width: 1rem;
  height: 1rem;
  padding: 0;
  margin: 0 0 0.1rem;
  vertical-align: bottom;
  position: relative;
}

@include mobileLandscape {
  .checkbox-input {
    top: -3px;
  }
}

.label-wrapper {
  width: 100%;
  text-align: center;
  position: relative;
}

.collections-list {
  margin-bottom: 1rem;
}
