@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.CollectionList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collection-list {
  margin: 0;
  padding: 0;
}

.collections-header {
  margin-bottom: 1rem;
}

p, li, h2, a {
  font-family: 'Roboto Mono';
}

