@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.Login {
  margin: 0 auto;
}

// .login-form {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
// }

h2 {
  text-align: center;
}

input, .Input {
  width: 150px;
  height: 1.2rem;
}

.login-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#Login__password {
  margin-bottom: 2rem;
}

.red {
  color: red;
}

