@import '../../styles/_breakpoints.scss';
@import '../../styles/_variables.scss';

.Login {
  margin: 0 auto;
}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2 {
  text-align: center;
}